/* Hanya untuk ukuran kartu */
.cd svg, .cd img {
  width: 32px !important;
  height: 75px !important;
}

#hand {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  max-width: 95vw !important;
  margin: 0 auto !important;
}

#hand > div {
  flex-shrink: 0 !important;
}
